<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> </title>
<meta http-equiv="content-type" content="text/html;charset=GBK"/>
<meta name="Author" content="ice_berg16(寻梦的稻草人)"/>
<link rel="stylesheet" href="style/global.css" type="text/css"/>
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery.util.js"></script>
<script type="text/javascript" src="javascript/validator.js"></script>
<style>
.over{
	background:#f6f6f6;
}
.r{
	float:right;
}
</style>
</head>
<body>
<div class="main-box">
	<div class="head-dark-box">
		资源管理器
	</div>
	<div class="body-box">
		<a href="explorer.asp?path={parentFolder}" class="r"><img src="images/icon/folderup.gif" align="absmiddle"/> 返回上级..</a>
		当前位置：{path}
	<hr/>
	<form method="post" action="explorer.asp?act=upload" class="r" validate="true" enctype="multipart/form-data">
		上传文件：<input type="file" name="file" rule="required" tip="请选择文件"/>
		<input type="submit" value="上 传"/>
		<input type="hidden" name="folder" value="{path}"/>
	</form>
	<form method="post" action="explorer.asp?act=createFolder" validate="true">
		新建文件夹：<input type="text" name="folderName" rule="required" tip="请输入文件夹名称"/>
		<input type="submit" value="创 建"/>
		<input type="hidden" name="folder" value="{path}"/>
	</form>
		
	</div>
	<div class="white-box">
		<table class="list-table" cellspacing="0">
			<tr class='head-light-box'>
				<td>名称</td>
				<td>类型</td>
				<td>创建时间</td>
				<td>大小</td>
				<td>操作</td>
			</tr>
		<!-- BEGIN folderList -->
			<tr onmouseover="this.className='over'" onmouseout="this.className=''">
				<td><a href="explorer.asp?path={path}"><img src="images/icon/folder.gif" align="absmiddle"/> {name}</a></td>
				<td>{type}</td>
				<td>{created}</td>
				<td>{size}</td>
				<td>
					[<a href="explorer.asp?path={path}">查看</a>]
					[<a href="explorer.asp?act=deleteFolder&f={path}" onclick="return confirm('确实要删除吗？')">删除</a>]
				</td>
			</tr>
		<!-- END folderList -->
		<!-- BEGIN fileList -->
			<tr onmouseover="this.className='over'" onmouseout="this.className=''">
				<td><a href="{vpath}"><img src="images/icon/{icon}.gif" align="absmiddle"/> {name}</a></td>
				<td>{type}</td>
				<td>{created}</td>
				<td>{size}</td>
				<td>
					[<a href="{vpath}">查看</a>]
					[<a href="explorer.asp?act=delete&f={path}" onclick="return confirm('确实要删除吗？')">删除</a>]
				</td>
			</tr>
		<!-- END fileList -->
			<tr class="head-light-box">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
</body>
</html>
